.title-cad{
  color: #023314;
  font-size: 24px;
  font-weight: 500;
  text-align: center;
  
}

.sub-info{
  font-size: 14px;
  color: #140005;
}

.bloco-cad{
  align-items: center;
}

.button-return{
    color: #797979;
    background-color: #CCCCCC;
    font-size: 90%;
    width: 240px; /* Defina a largura do botão */
    height: 32px; /* Defina a altura desejada */
    display: flex;
    justify-content: center;
    align-items: center;
}

